<section class=home-wrapper>
  <section class="menu-flex-container-xs">
    <section class="link">
      Home
    </section>
    <section class="link">
      Apps By Flo
    </section>
    <section class="selected">
      <%= link_to 'All Songs', "songs", method: :get %>
    </section>
  </section>
  <section class="menu-flex-container-xs">
    <section class="link">
      Play Store
    </section>
    <section class="link">
      Español
    </section>
  </section>
  <section class="menu-flex-container-sm">
    <section class="link">
      Home
    </section>
    <section class="link">
      Play Store
    </section>
    <section class="link">
      Apps By Flo
    </section>
    <section class="selected">
      All Songs
    </section>
    <section class="link">
      Español
    </section>
  </section>
  <h1>Cantando Inglés</h1>
  <section class=introduction>
    An Android Application for Spanish speakers to learn English.  Shows lyrics in English and Spanish while song is playing. Shows notes explaining words that have multiple meanings. Download application from the Google Play Store for free. Download songs for free. Check out the video. For phones with Android 4.0 and above. 
  </section>
  <section class="phone-images-flex-container">
    <section class="phone-image">
      <%=image_tag("app-screen-shot-home-page-1.png", alt:"Android Application Image 1")%>
    </section>
    <section class="phone-image">
      <%=image_tag("app-screen-shot-home-page-2.png", alt:"Android Application Image 2") %>
    </section>
  </section>
</section>
