.admin-song-new-wrapper {
  .new-songs {
    a:link {
      color:#408f77; 
    }
    a:visited {
      color:#408f77; 
    }
    a:hover {
      color:#4eab89;
    }
    a:active {
      color:#bbe0ad;
    }
  }
}
