.admin-home-wrapper {
  font-family: 'Josefin Sans', Arial;
  padding:30px 10px;
  h1 {
    font-size:3.0rem;
    letter-spacing:6px;
    font-weight:700;
    text-align:center;
    margin: 30px 10px 24px 20px;
    color:#3d1c15;
  }
  
  .admin-links-flex-container {
    display:none;
    flex-wrap: wrap;
    width:100%;
    max-width:800px;
    justify-content:center;
    margin: 0px auto 0px auto;
    padding-top:110px;
    
    .admin-link {
      text-align:center;
      flex-basis:200px;
      max-width: 250px;
      flex-grow:1;
      font-size:1.125rem;
    }
  }

  .admin-links-column {
    padding-top:50px;
    font-size:1.125rem;
    .admin-link {
      padding-top:25px;
    }
  }

  a:link {
    color:#551A8B;
    text-decoration:none;
  }
  a:link {
    color:#551a8b;
  }
  a:hover {
    color:#aa2a3f;
  }
  a:active {
    color:#de1a3f;
  }
}

@media only screen and (min-width:400px) {
  .admin-home-wrapper {
    h1 {
      margin-top:50px;
      font-size:3.5rem;
    }
  }
}

@media only screen and (min-width:680px) {
  .admin-home-wrapper {
    .admin-links-flex-container {
      display:flex;
    }
    .admin-links-column {
      display:none;
    }
  }
}
