<h2>Apps By Flo</h2>
<h1>Cantando Ingles</h1>
<%= link_to('See All Songs', admin_songs_path) %>
<%= link_to 'Sign In', new_admin_session_path %>
<%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
<%= link_to 'Delete Registration', admin_registration_path, method: :delete %>
