.songs-wrapper {
  font-family: 'Josefin Sans', Arial;
  padding: 20px 5px 20px 5px;

  .link-all-songs {
    a {
      font-weight:700;
    }
    a:link {
     //color:#5553b0;
    }
    a:visited {
      color:#38686c;
    }
    a:hover {
      color:#4eab89;
    }
    a:active {
      color:#bbe0ad;
    }
    
  }
  
  .title-sm {
    display:none;
  }
  
  h1 {
    color:#3d1c15;
    font-size:0.875rem;
    letter-spacing:1px;
    font-weight:700;
    font-family: 'Josefin Sans', Arial;
    text-align:center;
    padding-top:30px;
    padding-bottom:0px;
    margin:0;
  }

  h2 {
    font-size:3.75rem;
    letter-spacing:6px;
    font-weight:700;
    text-align:center;
    margin-top:40px;
    margin-bottom:24px;
    color:#3d1c15;
  }

  .copyright {
    max-width: 670px;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
    font-family: 'Josefin Sans', Arial;
    font-size:.875rem;
    padding-bottom:5px;
    text-align:center;
  }

  .total-downloads {
    color:#3d1c15;
    text-align:center;
    width:100%;
    font-size:0.875rem;
  }
  @media only screen and (min-width:476px) {
    .title-sm {
      display:block;
      h1 {
        padding-top:20px;
        padding-bottom:10px;
      }
    }

    .title-xs {
     display:none;
    }
  }

  .songs-flex-container {
    display: flex;
    flex-wrap:wrap;
    padding-top:33px;
    width:100%;
    max-width:1290px;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
  }

  .song-box {
    flex-basis:360px;
    min-width:0px;
    text-align: center;   
    padding-top:20px;
    padding-bottom:30px;
    margin-left:30px;
    margin-right:30px;
  }

  .song_info {
    font-size:.875rem;
    padding-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .song-title {
    display:block;
    font-size:1.5rem;
    padding-bottom:5px;
  }

  .orig-title {
    color:#1c5e6a;
    font-weight:700;
  }

  .orig-artist {
    color:#1c5e6a;
    font-weight:700;
  }

  .filename {
    word-wrap: break-word;
  }

}
