<section class="header-admin" >
  <section class="menu-flex-container-xs top-menu">
    <section class="link link-home">
      <%= link_to('Home', home_path) %>
    </section>
    <section class="link link-appsbyflo">
      <%= link_to('Admin-Home', "admin_home_path") %>
    </section>
    <section class="link link-all-songs">
      <%= link_to('Songs', songs_path) %>
    </section>
  </section>
</section>
